@{
    ViewData["Title"] = "Expenses";
}
<!--Rememeber that the at symbol and brackets allow you to use c# code in html through razor-->

<div class="text-center">
    <h1 class="display-4">Expenses!</h1>
    
    
</div>
