@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello there!</h1>
    <a asp-controller="Home" asp-action="Expenses" class="btn btn-primary">Overview</a>
    <a asp-controller="Home" asp-action="CreateEditExpenses" class="btn btn-secondary">Create new</a>
    <!-- a tag above says that i should go to the home controller and invoke the expenses method the class just creates a blue button-->
</div>
